<% provide(:title, 'Home') %>

<div class="center hero-unit">

  <h1>这是一个测试程序,duang, duang, duang</h1>
  <h1>大家好, 我是金晶酱</h1>
  <h3>我是一枚精致的女子</h3>
  <h2>
    This is the home page for the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a> sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

