/*
Error: File to import not found or unreadable: bootstrap.
       Load path: /Users/yunnan/rails_projects/sample_app/app/assets/stylesheets
        on line 2 of /Users/yunnan/rails_projects/sample_app/app/assets/stylesheets/custom.css.scss

1: @import "/opt/local/lib/ruby2.1/gems/2.1.0/gems/bootstrap-sass-3.3.4.1/assets/stylesheets/bootstrap";
2: @import "bootstrap";
3: /* universal *\/
4: html{
5:     overflow-y: scroll;
6: }
7: body{

Backtrace:
/Users/yunnan/rails_projects/sample_app/app/assets/stylesheets/custom.css.scss:2
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:66:in `rescue in import'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:45:in `import'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:407:in `run'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/opt/local/lib/ruby2.1/gems/2.1.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/opt/local/bin/sass:23:in `load'
/opt/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap.\A        Load path: /Users/yunnan/rails_projects/sample_app/app/assets/stylesheets\A         on line 2 of /Users/yunnan/rails_projects/sample_app/app/assets/stylesheets/custom.css.scss\A \A 1: @import \"/opt/local/lib/ruby2.1/gems/2.1.0/gems/bootstrap-sass-3.3.4.1/assets/stylesheets/bootstrap\";\A 2: @import \"bootstrap\";\A 3: /* universal */\A 4: html{\A 5:     overflow-y: scroll;\A 6: }\A 7: body{"; }
